@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");

:root {
    --Red: hsl(0, 100%, 68%);
    --Dark-Blue: hsl(230, 29%, 20%);
    --Dark-Grayish: hsl(230, 11%, 40%);
    --Grayish: hsl(231, 7%, 65%);
    --Light-Grayish: hsl(207, 33%, 95%);

    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    border: border-box;
}

body {
    width: 100vw;
    font-family: 'Barlow', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.8rem;
}

.bg-desktop {
    width: 100%;
    height: 350px;

    background-image: url(../images/illustration-devices.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top 10px right -135px;
}
.gray-border {
    width: 50%;
    height: 420px;
    background-color: var(--Light-Grayish);
    border-radius: 0 0 0 75px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -3;
}

/* LOGO & HAMBURGER PART */
.header-flex {
    width: 85%;
    margin: 40px auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
figure img {
    width: 2.4rem;
    height: 2.4rem;
}

    /* HAMBURGER & CROSS TOGGLE */
    #burger {
        outline: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    #cross {
        display: none;
    }
/* END OF LOGO & HAMBURGER PART */


/* MENU SECTION */
.menu-wrapper {
    width: 85%;
    height: 235px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 5px;
    box-shadow: 0px 3px 10px 5px hsla(235, 7%, 65%, 0.247);

    position: absolute;
    left: 50%;
    top: 18%;
    transform: translate(-50%, -18%);

    display: none;
}
.menu-wrapper a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--Dark-Blue);
    font-weight: 600;
    letter-spacing: 0.1rem;
}
.line {
    width: 80%;
    height: 0.05rem;
    background-color: var(--Light-Grayish);
}
.menu-wrapper a.login {
    color: var(--Grayish);
}
.menu-wrapper a:hover{
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.75;
}
/* END OF MENU SECTION */


/* MAIN SECTION & TEXT UPPERCASE */
.text-container {
    width: 85%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}
.uppercaz {
    text-transform: uppercase;
}
/* END ----- MAIN SECTION & TEXT UPPERCASE */


/* SECTION "NEW" & "MONOGRAPH" */
.dashboard-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0 20px 0;
}
.new {
    background-color: var(--Dark-Blue);
    color: var(--Light-Grayish);
    font-weight: 700;
    padding: 2px 10px;
    border-radius: 25px;
}
.monograph {
    color: var(--Grayish);
    letter-spacing: 0.2rem;
    margin-left: 20px;
}
/* END ----- SECTION "NEW" & "MONOGRAPH" */


/* SECTION TITLE */
.powerful {
    color: var(--Dark-Blue);
    font-size: 3.9rem;
    line-height: 3.9rem;
}
.project {
    width: 85%;
    font-family: 'Barlow', sans-serif;
    color: var(--Dark-Grayish);
    font-size: 1.8rem;
    margin: 15px 0 30px 0;
}
/* END ------ SECTION TITLE */


/* SECTION TO SCHEDULE A DEMO */
.schedule-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.schedule-flex button {
    width: 15.4rem;
    height: 40px;
    background-color: var(--Red);
    color: var(--Light-Grayish);
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Barlow', sans-serif;

    outline: none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
.schedule-flex button:hover {
    opacity: 0.85;
}
.preview {
    font-size: 1.2rem;
    color: var(--Grayish);
    letter-spacing: 0.3rem;
    margin-left: 20px;
}
/* END ---- SECTION TO SCHEDULE A DEMO */


/* EXTRA CALENDAR TO SELECT A DATE */
.calendrier {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 85%;
    height: 230px;
    margin: 0 auto;
    background-color: var(--Dark-Blue);
    border-radius: 5px;

    position: absolute;
    top: 430px;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0px 3px 10px 5px hsla(235, 7%, 65%, 0.425);

    display: none;
}
.calendrier label {
    text-transform: uppercase;
    color: white;
}
.calendrier input {
    height: 26px;
    border: 0px;
    outline: 0px;
    border-radius: 5px;
    
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    color: var(--Dark-Blue);
    padding-left: 5px;
    box-shadow: 0px 1px 10px 1px hsla(240, 20%, 99%, 0.452);
}
.calendrier button {
    font-family: 'Barlow', sans-serif;
    background-color: var(--Red);
    color: white;
    height: 26px;
    width: 86px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px 1px hsla(240, 20%, 99%, 0.452);

    border: none;
    outline: none;
    cursor: pointer;
}
.calendrier button:hover {
    opacity: 0.85;
    transition: 0.5s ease-in-out;
}
/* END ---- EXTRA CALENDAR TO SELECT A DATE */


/* FOOTER */
.attribution {
    font-size: 1.1rem;
    text-align: center;
    color: var(--Grayish);
    margin-top: 8rem;
  }
  .attribution a {
    color: var(--Dark-Grayish);
  }

@media (min-width: 768px) {
    .header-flex { width: 77%; }
    .logo img {
        width: 34px;
        height: 34px;
    }
    .burger { display: none; }
    .menu-wrapper {
        display: flex !important;
        height: auto;
        position: relative;
        flex-direction: row;
        justify-content: flex-end;
        background-color: transparent;
        box-shadow: none;
    }
    .menu-wrapper a { padding: 0 30px; }
    .line {
        width: 7px;
        height: 7px;
        border-radius: 50%;
    }
    /* SPLIT THE WIDTH IN TWO  */
    .screen-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 80vh;
        align-items: center;
    }
    .text-container {
        width: 100%;
        margin-left: 23%;
        grid-column: 1;
        grid-row: 1;
    }
    .bg-desktop { 
        grid-column: 2;
        height: 500px;
        background-image: url(../images/illustration-devices.svg);
        background-repeat: no-repeat;
        background-size: 125%;
        background-position: top 10px right -225px;
     }

    /* TEXT CONTAINER */
    .new { font-size: 1.6rem; }
    .monograph {
        letter-spacing: 0.4rem;
        font-size: 1.6rem;
    }
    .powerful {
        font-size: 6.3rem;
        line-height: 6.5rem;
    }
    .project { 
        font-size: 1.8rem;
        margin: 30px 0 65px 0;
    }

    /* BUTTON SCHEDULE */
    .schedule-flex button {
        width: 18.4rem;
        height: 48px;
        font-size: 1.6rem;
    }
    .preview { 
        font-size: 1.6rem;
        letter-spacing: 0.5rem;
    }

    /* EXTRA CALENDAR */
    .calendrier {
        width: 40%;
        height: 300px;

        position: absolute;
        top: 250px;
        left: 30%;
        transform: translate(-50%);
    }
    .calendrier input { height: 38px; }
    .calendrier button {
        height: 36px;
        width: 100px;
        font-size: 1.4rem;
    }


    /* FOOTER */
    .attribution { margin-top: 0rem; }
}